:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #3fd0d4;
  --border-color: #dbdbdb;
  --header-height: 104px;
  --yellow-color: #edb867;
}

::placeholder {
  /* chạy tốt trên Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--border-color) !important;
  opacity: 1; /* Firefox */
}

* {
  box-sizing: inherit;
}

html {
  /* hack */
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(70deg, var(--primary-color), rgb(255, 62, 55));
}

/* lớp giả */
.deal-hot::after {
  position: absolute;
  right: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "HOT";
  font-size: 1rem;
  padding: 2px 5px 2px 7px;
  background-color: #f76570;
  color: #fff;
  border-radius: 4px;
}

.deal-new::after {
  position: absolute;
  right: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "NEW";
  font-size: 1rem;
  padding: 2px 5px 2px 7px;
  background-color: #26c48f;
  color: #fff;
  border-radius: 4px;
}

.deal-best::after {
  position: absolute;
  right: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "BEST";
  font-size: 1rem;
  padding: 2px 5px 2px 7px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 4px;
}

.arrow-right::before {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  border-left: 5px solid #9a9a9a;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

/* button */
.btn {
}

.btn-small {
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    transform: translateX(100%);
  }
}

@keyframes appear {
  0% {
    transform: translateY(-10%);
    opacity: 0;
    transform: scaleY(0.5);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes headerNotifyGrow {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes text-slide {
  0% {
    opacity: 0;
    transform: translateY(0);
    transform: scale(90%);
  }
  90% {
    opacity: 1;
    transform: translateY(-50%);
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-auto {
  25% {
    background-image: url(../images/banner/6.jpg);
    background-position: center;
  }
  50% {
    background-image: url(../images/banner/1.jpg);
    background-position: top;
  }
  75% {
    background-image: url(../images/banner/3.jpg);
    background-position: center;
  }
  100% {
    background-image: url(../images/banner/4.jpg);
    background-position: center;
  }
}

@keyframes slide-top-review {
  0% {
    background-image: url(../images/banner/2.jpg);
  }
  50% {
    background-image: url(../images/banner/3.jpg);
  }
  100% {
    background-image: url(../images/banner/4.jpg);
  }
}

@keyframes zoom-img {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(101%);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes example {
  0% {
    border: 2px solid #ccc;
    transform: scale(1);
  }
  100% {
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: scale(1.5);
  }
}

@keyframes exampleActive {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(30deg);
  }
}
