/* mobile & table */
@media (max-width: 1023px) {
  .hidden-table-mobile {
    display: none;
  }

  .header__nav-warp-bars {
    display: block;
  }

  .header__nav-menu {
    display: none;
  }

  .header__navbar-icon-mobile-tablet {
    display: block;
    position: absolute;
    color: var(--white-color);
    font-size: 21px;
    top: 50%;
    left: 0;
    padding: 24px;
    margin-left: 30px;
    transform: translateY(-50%);
  }

  .header__navbar-list {
    display: none;
    background-color: var(--white-color);
    position: fixed;
    overflow: auto;
    max-height: 400px;
    top: var(--header-height);
    left: 0;
    right: 0;
    padding: 8px 0;
    box-shadow: 0 5px 5px rgb(0 0 0 / 20%);
  }

  /*-Sap xep san pham-*/
  .products__container {
    margin-top: calc(var(--header-height) + 70px);
  }
  .products__container-title-text {
    padding-top: 24px;
  }
  .products__container .home-filter {
    display: none;
  }

  .products__container-header .header__sort-bar {
    display: flex;
  }

  .header__sort-list {
    display: flex;
  }
  /* END _ SAP XEP SAN PHAM*/

  .product-cart {
    display: none;
  }
  .app .product-cart-mobile {
    display: block;
  }

  /* review */
  .review__users {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  /* res footer */
  .footer-top-widget__logo a img {
    width: 70%;
  }

  .footer-top-widget__info,
  .footer-top-widget__social-link span,
  .footer-widget-top-content-link,
  .footer-widget-top-content-link {
    font-size: 1.3rem;
  }

  .footer-top-useful {
    padding-left: 0px;
  }

  .footer-top-help,
  .footer-top-sub {
    padding-left: 0px;
    padding-top: 0px;
  }

  .footer-top-help,
  .footer-top-useful,
  .footer-top-sub {
    text-align: center;
  }

  .footer-widget-top-content-list {
    padding-left: 0px;
  }
}

/* mobile */
@media (max-width: 739px) {
  .hidden-mobile {
    display: none;
  }

  .header__nav-warp-icon {
    font-size: 1.6rem;
  }

  .mobile-header__bar {
    justify-content: center;
  }

  .header__nav-logo {
    justify-content: center;
  }

  .header__nav-logo a img {
    width: 90%;
  }

  .header__bar-icon {
    width: 20px;
    height: 3px;
  }

  .header__bar-icon::after,
  .header__bar-icon::before {
    width: 25px;
    height: 3px;
  }

  .header__nav-warp-search-form {
    min-width: 260px;
    top: 120%;
  }

  .header__nav-warp-content {
    min-height: 20px;
  }

  /* banner */
  .slide-banner__text {
    zoom: 0.6;
    top: -50%;
  }

  .slide-banner__img {
    height: 300px;
  }

  .slide-warp {
    height: 300px;
  }

  .app .cart__link {
    margin-left: 20px;
  }

  .app.product-cart__mobile--garbage {
    margin-right: 24px;
  }

  /* product */
  .products {
    /* min-height: 2800px; */
  }

  .product__menu-pet {
    padding-bottom: 40px;
  }

  .product__menu-noPet {
    padding-top: 20px;
  }

  .product__icon-pet,
  .product__icon-noPet {
    display: block;
    text-align: center;
    padding: 15px 0;
  }

  .product__icon-pet img,
  .product__icon-noPet img {
    width: 35%;
  }

  .product__icon-pet h3,
  .product__icon-noPet h3 {
    font-size: 2rem;
  }

  .product__popular {
    margin: 0;
  }

  .product-item {
    padding: 0 20px;
    margin: 0 0 20px 0;
  }

  .product-content > h4 {
    font-size: 1.8rem;
  }

  .product-price span.new,
  .product-price span.old {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }

  /* Product.html*/
  .detail-product__information .product-detail__illustration {
    padding: 8px 0px;
  }

  /* review */
  .review__container {
    height: 415px;
  }

  .review__text {
    width: 90%;
  }

  .review__text h2 {
    font-size: 2.8rem;
  }

  .review__text p {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .user-info__content-name {
    font-size: 1.6rem;
  }

  .user-info__content-comment {
    font-size: 1rem;
  }

  /* about us */
  .service-item {
    margin: 0;
  }

  .service-item__img {
    margin: 0;
  }

  .service-item__title {
    font-size: 1.6rem;
    padding: 0;
  }

  .service-item__description {
    font-size: 1rem;
    padding: 8px 0 0 0;
  }

  /* footer */

  .footer-top-widget__logo a img {
    width: 60%;
  }

  .footer-top-widget {
    margin-bottom: 0;
  }

  .footer-top-useful {
    padding-top: 0px;
  }

  .footer-top-widget__info,
  .footer-top-widget__social {
    padding-left: 15px;
  }

  .footer__input-boxs form {
    padding: 0 20px;
  }

  /* icon zalo */
  .icon__footer-action--img {
    width: 40px;
    height: 40px;
  }

  .icon__footer-fix::after {
    width: 40px;
    height: 40px;
  }

  .icon__footer-top {
    width: 40px;
    height: 40px;
    bottom: 115px;
  }

  .icon-top {
    font-size: 1.7rem;
  }

  /* product detail */
  .banner {
    height: 192px;
  }

  .banner__product-img {
    height: 40%;
  }

  .slide-banner__text2 {
    zoom: 0.4;
    top: -20%;
  }
  .product__detail-img,
  .product__detail-info {
    padding: 0 12px;
  }

  .product__detail-name {
    font-size: 2rem;
  }

  .product__detail-love p,
  .product__detail-sold p,
  .product__detail-comment p {
    font-size: 1.3rem;
  }

  .mobile-evaluate {
    font-size: 0.6rem;
    width: 100%;
  }

  .product__detail-sold h4,
  .product__detail-comment h4 {
    font-size: 1.3rem;
  }

  .product__detail-price span {
    font-size: 1.8rem;
  }

  .product__detail-type,
  .product__detail-type2 {
    width: 112px;
  }

  .product__detail-type p,
  .product__detail-type2 p {
    font-size: 1.3rem;
  }

  .product__detail-type2 p {
    padding: 0;
  }

  .product__detail-type p {
    padding: 0 6.5px;
  }

  .product__detail-select button {
    width: 25px;
    height: 25px;
  }

  .product__detail-transport p,
  .product__detail-transport-free {
    font-size: 1.2rem;
  }

  .product__detail-select input {
    width: 30px;
    height: 25px;
  }

  .product__detail-transports,
  .product__detail-amount {
    margin-left: 15px;
  }

  .product-amount {
    font-size: 1.2rem;
    margin: 0 0 0 5px;
  }

  .btn-amount-minus i,
  .btn-amount-plus i {
    font-size: 1rem;
  }

  .product__detail-add--cart,
  .product__detail-add--buy {
    width: 164px;
    height: 40px;
    font-size: 1.2rem;
  }

  .product__detail-information--species i,
  .product__detail-information--color i,
  .product__detail-information--sex i,
  .product__detail-information--status i {
    font-size: 2rem;
  }

  .product__detail-information--ages img {
    width: 25px;
  }

  .product__detail-information--species h4,
  .product__detail-information--color h4,
  .product__detail-information--sex h4,
  .product__detail-information--status h4,
  .product__detail-information--ages h4 {
    font-size: 1.5rem;
  }

  .product__detail-information--species p,
  .product__detail-information--color p,
  .product__detail-information--sex p,
  .product__detail-information--status p,
  .product__detail-information--ages p {
    font-size: 1.5rem;
  }
}

/* table */
@media (min-width: 740px) and (max-width: 1023px) {
  .hidden-table {
    display: none;
  }

  .header__nav-logo a img {
    width: 100%;
  }

  .header__nav-warp-icon {
    font-size: 2.2rem;
  }

  .slide-banner__text {
    zoom: 0.8;
  }

  /* product */
  .products {
    height: 620px;
  }

  .product-item {
    margin: 0;
  }

  .product__icon-pet h3,
  .product__icon-noPet h3 {
    font-size: 1.7rem;
  }

  .product__select-pet h4,
  .product__select-noPet h4 {
    display: none;
  }

  .product__select-pet,
  .product__select-noPet {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--primary-color);
  }

  .product__select-pet:hover .product__select-icon,
  .product__select-noPet:hover .product__select-icon {
    color: red;
  }

  .product__select-icon {
    color: var(--white-color);
  }
  .product-price span.new,
  .product-price span.old {
    font-size: 1.2rem;
  }

  .product__menu-pet {
    padding-bottom: 20px;
  }

  /* review */
  .review__container {
    height: 510px;
  }

  .footer-widget-top-title {
    font-size: 2.2rem;
  }

  .review__text h2 {
    font-size: 5rem;
  }

  /*-----detail products------*/

  .product-detail__illustration-share-link {
    flex-wrap: wrap;
    font-size: 1.4rem;
    line-height: 1.5;
  }

  .product-detail__illustration-like {
    flex-wrap: wrap;
    line-height: 1.2;
  }
  .product-detail__illustration-like-sperate {
    display: none;
  }
  /*END DETAIL PRODUCT--*/
  .user-info__content-name {
    font-size: 1.6rem;
  }

  .user-info__content-comment {
    font-size: 1.2rem;
  }

  .review__text {
    width: 680px;
  }

  .review__text p {
    font-size: 1.5rem;
  }

  /* product detail */
  .banner {
    height: 384px;
  }

  .banner__product-img {
    height: 80%;
  }

  .product__detail-type,
  .product__detail-type2 {
    width: 150px;
  }

  .product__detail-type p,
  .product__detail-type2 p {
    font-size: 1.5rem;
  }

  .product__detail-select button {
    width: 30px;
    height: 30px;
  }

  .product__detail-select input {
    width: 50px;
    height: 30px;
  }

  /*END DETAIL PRODUCT--*/
  .app .cart__link {
    margin-left: 18px;
  }
}

/* fix */
/* @media (min-width: 740px) and (max-width: 1023px) */
@media (min-width: 374px) and(max-width:739) {
  .products {
    min-height: 2800px;
  }
}

@media (min-width: 1061px) {
  .user-info__content-name {
    font-size: 1.7rem;
  }

  .user-info__content-comment {
    font-size: 1.2rem;
  }
}
